.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-inverse .navbar-brand {
    color: rgb(10, 202, 194);
}

.navbar-inverse .navbar-brand:hover {
    color: rgb(10, 202, 194);
}

.navbar-inverse .navbar-brand:focus {
    color: rgb(10, 202, 194);
}

#ntext:focus + .dropdown-menu { display: none; }

#ntext:hover + .dropdown-menu { display: block; }

.navbar .nav > li > .dropdown-menu::before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.navbar .nav > li > .dropdown-menu::after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}

.dropdown:onClick .dropdown-menu {
    display: none;
    margin-top: 0; // remove the gap so it doesn't close
}

.navbar-brand {
    font-family: 'Berkshire Swash';
    font-size: 40px;
    color: rgb(10, 202, 194);
    padding: 30px;
    padding-left: 120px !important;
    background-color: white;
    padding-top: 15px;
}

.navbar-other {
    float: right;
    padding-right: 20px !important;
}

.nav a {
    /*color: white !important;*/
    font-size: 1.0em !important;
}

.navbar-inverse {
    background: white;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.nav .navbar-nav li a {
    color: black;
}

.navbar.navbar-inverse .navbar-nav > .active,
.navbar.navbar-inverse .navbar-nav > .active > a,
.navbar.navbar-inverse .navbar-nav > .active > a:hover,
.navbar.navbar-inverse .navbar-nav > .active > a:focus {
    color: transparent;
}

.navbar.navbar-inverse .navbar-nav .navbar-brand > .active > a:focus {
    color: ;
}
.navbar.navbar-inverse .dropdown-menu {
    background-color: white;
}
.navbar.navbar-inverse .dropdown-menu > li > a {
    color: black;
}
.navbar.navbar-inverse .dropdown-menu > li > a:hover,
.navbar.navbar-inverse .dropdown-menu>li>a:focus {
    background-color: lightgray;
    color: black;
}
.navbar.navbar-inverse .navbar-nav li.dropdown.open > .dropdown-toggle,
.navbar.navbar-inverse .navbar-nav li.dropdown.active > .dropdown-toggle,
.navbar.navbar-inverse .navbar-nav li.dropdown.open.active > .dropdown-toggle {
    background: transparent;
    color: black;
}
.navbar.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
    border-bottom-color: #486972;
}

.nav {
    background: white;
    width: 200%;
    color: black;
}
li a {
    color: black !important;
}